



<h1 class = "burgerTitle"> Burgers! </h1>

<h2>Get ya Burgers!</h2>

<img class = "burger-pic" src="assets/img/hamburger.jpg">

<h2>Make a custom burger</h2>

<form class="create-form burger-entry-group" action="/burgers/create" method="post"> 

  <div class="form-group">
    <label class = "burger-entry-title" for="ca">Burger Name:</label>
    <input class = "burger-input" type="input" id="burger-box" name="name">
  </div>

  <button class = "button" type="submit">Add Your Custom Burger</button> 
</form>


<ul class = "burger_list">
  {{#each burger}}
    <li>{{this}}</li>
  {{/each}}
</ul>


<div class = "row">
  <div class = "col-sm-6">
    <h2 class = "created">Created Burgers</h2>

    <p class = "created" >
        {{#each burger_Data }}
      
        <ul>{{#unless this.devoured}}</ul>

          {{this.burger_name}}
       {{/unless}}
      {{/each}}
    </p>
  </div>

  <div class="col-sm-6">
    <h2 class = "devoured">Devoured Burgers</h2>

    <ul class = "devoured">
      {{#each burger}}
        {{#if true}}
          {{> burger devoured = true}}
        {{/if}}
      {{/each}}
    </ul>
  </div>
</div>


<script>
function myFunction() {
  document.querySelector(".burger-entry-form").submit();
}
</script>