body{
    background-color: sandybrown;
}

.burgerTitle{
    color: seagreen;
    text-align: center;
    padding-top: 20px;
}

ul {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  

  h2 {
      color: seagreen;
      text-align: center
  }

  .created{
    color: darkred;
    text-align: left;
    padding-left: 30px;
  }

  .devoured{
    color: darkred;
    float: le
  }

  .button {
    border-radius: 12px;
    background-color: seagreen;
    padding: 10px;
    border: none;
    box-shadow: 3px 3px 3px;
    margin: 20px;
  }

  .burger-entry-group{
    text-align: center;
  }

  .burger-entry-title{
    color: seagreen
  }

  .burger-input{
    border-radius: 5px;
    border: none;
 }

 .burger-pic{
    height: 200px;
    width: 200px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   border-radius: 200px;
  }

  .devoured {
    background-color: sandybrown
  }

  .created-buttons{
    background-color: seagreen;
    padding: 7px;
    border: none;
    box-shadow: 3px 3px 3px black;
    margin: 20px;
    border-radius: 12px;
    color: black;
    font-size: large !important;
    margin-left: 0
  }

  .created-column{
    margin-left: 8%;
  }

  .devoured-column{
    margin-left: 40%
  }

  .devoured-buttons{
    background-color: tomato;
    padding: 7px;
    border: none;
    box-shadow: 3px 3px 3px black;
    margin: 20px;
    border-radius: 12px;
    color: darkred;
    font-size: large !important;
    margin-left: 0
  }

  
  .created-list{
    color: darkred
    
  }